body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e4ca9d;
    background-size: 22px 22px, 100px 100px;
    background-image:
        repeating-linear-gradient(0.2deg, #957D60, #957D60 2px, #f7f1eb 2px, #f7f1eb),
        url('noiseTexture.svg');
    background-blend-mode: color-burn;
    overflow: hidden;
}

.icon {
    position: fixed;
    top: 20px;
    left: 25px;
    width: 50px;
    height: 50px;
    z-index: 2;
    transition: all 0.5s ease;
}

.icon:hover {
    transform: scale(1.1);
    mix-blend-mode: darken;
}

.container {
    background: #ab815fc6;
    padding: 2vw;
    padding-bottom: 1vw;
    border: solid 4px #426b4c;
    border-radius: 8px;
    box-shadow: 3vh 3vh #8c6c5170;
    width: 100%;
    max-width: 40vw;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: max-height 0.3s ease, max-width 0.3s ease;
}

h1 {
    text-align: center;
    margin-bottom: 2vh;
    margin-top: 0;
    font-size: 5vw;
    font-family: 'Concert';
    color: #426b4c;
    text-shadow: 3px 3px #d4f0cb98;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    overflow-y: auto;
    transition: all 0.3s ease;
}

.task {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border: 3px solid;
    border-color: #8c6c51;
    border-radius: 8px;
    box-shadow: 5px 5px #8c6c51 inset;
}

.task .circle {
    width: 20px;
    height: 20px;
    border: 2px solid #000000;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: .4vw;
    cursor: pointer;
    flex-shrink: 0;
}

.task.completed .circle {
    background-color: #426b4c;
}

.task .content {
    flex-grow: 1;
}

.task .content input,
.task .content textarea {
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    font-size: calc(1rem + 1vw);
}

.task .content textarea {
    color: rgb(61, 61, 61);
    font-size: 1rem;
}

.task .content textarea {
    resize: none;
}

.task .content input:focus,
.task .content textarea:focus {
    outline: none;
}

.task .content input::placeholder,
.task .content textarea::placeholder {
    color: #aa8a70;
}

.task .content input,
.task .content textarea,
.task {
    background-color: #9d795b;
    overflow: hidden;
}

.task .delete {
    background-color: #c4545f;
    border: none;
    border-radius: 4px;
    color: rgb(255, 249, 249);
    padding: 5px 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task .delete i {
    font-size: 1.2em;
}

#add-task-button {
    width: 100%;
    padding: 10px;
    background-color: #426b4c;
    border: none;
    border-radius: 4px;
    box-shadow: 0 5px rgb(21, 61, 6);
    color: rgb(199, 216, 197);
    font-family: 'Concert';
    font-size: calc(2vw + 1vh);
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-task-button .button-text {
    display: inline-block;
    transition: all 0.5s ease;
    margin-left: 5px;
}

#add-task-button .plus-sign {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#add-task-button:hover .button-text {
    transform: translateX(5px);
}

#add-task-button:hover .plus-sign {
    opacity: 1;
}

#add-task-button:active {
    top: 5px;
    box-shadow: inset 0 3px rgb(21, 61, 6);
}

#validation-message {
    color: #8a363e;
    font-weight: bold;
    margin-top: 10px;
}

ul::-webkit-scrollbar {
    display: none;
}

ul {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@font-face {
    font-family: 'Caveat';
    src: url(Fonts/Caveat/Caveat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Concert';
    src: url(Fonts/Concert_One/ConcertOne-Regular.ttf);
}